<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some Error Occur!</h1>
    <p>We are Working on Fixing this,Sorry for the inconvenience!</p>   

<%- include('includes/end.ejs') %>